<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag "admin.jpg", class:"rounded-circle", id: "icon", alt: "Admin Icon"%>
      <hr>  
      <h2>Login Admin</h2>
    </div>

    <!-- Login Form -->
    <%= form_with(url: login_sign_in_admin_path, local: true) do |form| %>
      <%= form.email_field :email, class: 'fadeIn second', id:'login', placeholder: 'Email'%>
      <%= form.password_field :password, class: 'fadeIn third', id: 'password', placeholder: 'Password'%>
      <%= form.submit 'Log In', class: 'fadeIn fourth btn btn-raised btn-primary'%>
    <% end %>
    <%= link_to "Log User", login_user_path, class: "btn btn-xs btn-info" %>
  </div>
</div>
