<h1>
  Listado de Asistencias
  <% if session[:ad] %>
    <%= link_to new_attendance_path, remote: true, class: "btn pull-right btn-success" do %>
      <i class="material-icons" style="font-size: 40px;">playlist_add</i>
    <% end %>
  <% end %>
</h1>
<br>
<%= form_with url: filter_attendances_path, method: :post do |form| %>
  <h4>Filtros</h4>
  <div class="row">
    <% if session[:ad] %>
      <div class="form-group is-empty col-md-12">
        <label for="user_id" class="col-md-2 control-label">Usuario</label>
        <div class="col-md-10">
          <%= form.select :user_id, JSON.parse((@api.get_users).body).map{ |u| [ "#{u['firstname'].capitalize} #{u['lastname'].capitalize} - #{u['dni']}", u['id']]},{prompt: "Filtrar por usuario"}, {class:'form-control', id:'user_id'} %>
        </div>
      </div>
    <% end %>
    <div class="form-group is-empty col-md-4">
      <label for="inputDesde" class="col-md-2 control-label">Desde</label>
      <div class="col-md-10">
        <%= form.text_field :inputDesde, class:'form-control', id:'inputDesde', placeholder:"Desde" %>
      </div>
    </div>
    <div class="form-group is-empty col-md-4">
      <label for="inputHasta" class="col-md-2 control-label">Hasta</label>
      <div class="col-md-10">
        <%= form.text_field :inputHasta, class:'form-control', id:'inputHasta', placeholder:"Hasta" %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <%= link_to "Limpiar", attendances_path, class: "btn btn-danger col-md-5 btn-filter" %>
      <%= form.submit "Filtrar", class: "btn btn-primary col-md-5 btn-filter" %>
    </div>
  </div>
<% end %>
<br>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha Asistencia</th>
        <th>Nombre Empleado</th>
        <th>Hora Entrada</th>
        <th>Hora Salida</th>
        <% if session[:ad] %>
          <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody id="attendance_table">
      <%= render "attendance_list"%> 
    </tbody>
  </table>
</div>
<br>

<script>
  $('document').ready(function(){
    $('#inputDesde, #inputHasta').bootstrapMaterialDatePicker({ 
      time: false,
      format : 'DD/MM/YYYY',
      lang : 'es', 
      weekStart : 1,
      maxDate : new Date()
    });
  });
</script>